html {
  background-color: whitesmoke;
}

body {
  width: 800px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 65px;



  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
